<div class="row" style="margin-top: 12vh;">
   <div class="offset-4 col-md-4">
        <p style="font-weight: bolder;font-size:72pt">Oops !</p>    
        <p style="font-weight: bold;margin-left: 20px;font-size:18pt">404-Page Not Found</p>
        <p style="font-weight:500;">The page you are looking for is currently not <br>available at the moment.</p>
        <a href="/"><button type="button" style="margin-left: 60px;" class="btn btn-primary">GO TO HOMEPAGE</button></a>
   </div>
</div>