<div class="container">
  <div style="margin: auto;width:80%;padding: 10px;">
     <p style="font-size: 50pt;font-weight:bold;color: darkgreen;">WELCOME TO HOME PAGE</p>
     <p style="font-size: 20pt;text-align:justify">This is an awesome😎 CRUD application.</p>
  </div>
</div>