<div class="container mt-4">
    <div style="border: 2px ridge lightgreen;" class="py-3 mb-3 px-3">
        <center>
            <h3><b>First Post</b></h3>
        </center>
        <div class="offset-5">
            <img src="" height="250" width="300" class="ml-5">
        </div>
        <br><br>
        <small class="text-muted">2022-02-02, Admin</small>
        <p>description here...</p>
        <center>
            <a type="reset" class="btn btn-primary" href="">Edit</a>
            <a type="reset" class="btn btn-danger" href="">Delete</a>
        </center>
    </div>
</div>